.emlanlistdk-ul {
	padding: 0;
	margin: 0;
}

.emlanlistdk-list {
	list-style: none;
	margin-bottom: 3rem;
}

.emlanlistdk-container {
	margin-bottom: 3rem;

	padding: 1rem;

	text-align: center;

	max-width: 40rem;
	margin: 0 auto;

	background-color: hsl(0, 0%, 95%);
}

.emlanlistdk-order {
	width: 100%;
}

.emlanlistdk-bestill {
	margin-top: 2rem;
}

.emlanlistdk-link {
	padding: 1rem 2rem;

	background-image: linear-gradient(rgb(136, 221, 72) 0%, rgb(95, 177, 57) 100%);
	border: solid 1px hsl(120, 50%, 60%);
	border-radius: 5px;

	font-size: 2.2rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 2px #000;
	font-family: arial;
	text-decoration: none;

	white-space: nowrap;

	cursor: pointer;
}

.emlanlistdk-svg {
	filter: drop-shadow(1px 1px 1px #333);
}
.emlanlistdk-thumb {
	fill: #fff;
}

.emlanlistdk-bestilltext {
	margin-top: .3rem;
}

.emlanlistdk-middlerow {
	text-align: left;
	
	margin: 2rem 0;

	margin-left: 20%;
}

.emlanlistdk-star {
	position: relative;
	top: .2rem;
	filter: drop-shadow(0 0 1px #333);
}

.emlanlistdk-star-path {
    fill: hsl(35, 100%, 60%);
}
.emlanlistdk-toprow {
	display: flex;
	flex-wrap: wrap;
}

.emlanlistdk-logo {
	width: 80%;
	margin: 0 10%;
}

.emlanlistdk-top-info {
	display: flex;
	flex-direction: column-reverse;

	width: 50%;

	margin: 1rem 0;
}

.emlanlistdk-top-info {
	font-weight: 700;
}

.emlanlistdk-top-info b {
	font-weight: 400;
}

@media screen and (min-width: 710px) and (max-width: 1024px) {
	.emlanlistdk-ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		clear: both;
	}

	.emlanlistdk-list {
		width: 48%;
		margin: 1rem auto;		
	}
}