
.emlanlistdk-ul {
	padding: 0;
	margin: 0;
}

.emlanlistdk-list {
	list-style: none;
	margin-bottom: 3rem;
}

.emlanlistdk-container {
	background-color: hsl(0, 0%, 96%);
	box-shadow: 0 0 6px hsl(0, 0%, 50%);
}

.emlanlistdk-row {
	display: flex;

	padding: 1rem 2rem;
}

.emlanlistdk-toprow {
	justify-content: space-between;
	text-align: center;
}

.emlanlistdk-toprow b {
	display: block;
}

.emlanlistdk-top-info {
	padding-top: .5rem;
}

.emlanlistdk-logo {
	max-width: 18rem;
	max-height: 6rem;
}

.emlanlistdk-order {
	min-width: 18rem;
}

.emlanlistdk-link {
	padding: 1rem 2rem;

	background-image: linear-gradient(rgb(136, 221, 72) 0%, rgb(95, 177, 57) 100%);
	border: solid 1px hsl(120, 50%, 60%);
	border-radius: 5px;

	font-size: 2.2rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 2px #000;
	font-family: arial;
	text-decoration: none;

	white-space: nowrap;

	cursor: pointer;
}

.emlanlistdk-link:hover {
	background-image: linear-gradient(rgb(136, 211, 72) 0%, rgb(95, 187, 57) 100%);
} 

.emlanlistdk-svg {
	filter: drop-shadow(1px 1px 1px #333);
}

.emlanlistdk-link:hover .emlanlistdk-svg {
	filter: drop-shadow(2px 2px 2px #333);
}

.emlanlistdk-thumb {
	fill: #fff;
}

.emlanlistdk-bestilltext {
	text-align: center;
	margin-top: .3rem;
}

.emlanlistdk-middlerow {
	justify-content: center;

	background-color: rgba(0, 0, 0, .05);

	border-top: dashed 1px hsl(0, 0%, 82%) ;
	border-bottom: dashed 1px hsl(0, 0%, 82%) ;
}

.emlanlistdk-info {
	padding: 0 1rem;
}

.emlanlistdk-star {
	position: relative;
	top: .3rem;
	filter: drop-shadow(0 0 2px #fff);
}

.emlanlistdk-star-path {
    fill: hsl(35, 100%, 60%);
}

.emlanlistdk-bottomrow {
	align-items: center;
}

.emlanlistdk-info-atte {
	font-size: 1.4rem;
}

.emlanlistdk-lesmer {
	flex: 0 0 18rem;
	text-align: center;
}

.emlanlistdk-lenke-lesmer::after {
	white-space: nowrap;
}