.emlanlist-sort-container {
	display: flex;
	flex-wrap: wrap;
}

.emlanlist-meta-container input {
	width: 300px;
	margin: 0 10px 10px 0;
}

.emlanlist-sort-container input {
	/*width: 150px;*/
}

.emlanlist-info-container {
	display: flex;
	flex-wrap: wrap;
	width: 650px;
	justify-content: flex-start;
	/*display: inline-grid;*/
	/*grid-template-columns: 1fr 1fr;*/
}

.emlanlist-info-container .emlanlist-input-container {
	/*width: 40%;*/
}

.emlanlist-info-container .emlanlist-input-container:nth-child(3),
.emlanlist-info-container .emlanlist-input-container:nth-child(7) {
	margin-bottom: 25px;
}

.emlanlist-info-container .emlanlist-input-container:nth-child(3)::after {
	content: '';
	width: 300px;
	display: inline-block;
	/*height: 4rem;*/
}

.emlanlist-input-title {
	font-size: 16px;
}

.emlanlist-input-container input[type=checkbox]{
	width: auto;
}

/* overview window */

#myTable2 {
	border-collapse:separate; 
  	border-spacing: 0 3px;
}

#myTable2 tr:nth-child(even) {
	background-color: #fff;
}

#myTable2 tr:hover {
	background-color: #aae;
	/*border: solid 1px black;*/
	/*margin-bottom: 30px;*/
}

#myTable2 th {
	cursor: pointer;
}

#myTable2 td {
	padding: 3px 10px;
}

/* overview links */
.emlanlist-overview-links {
	font-size: 16px;
	margin: 20px;
}
.emlanlist-overview-links td {
	padding: 10px 20px;
}

.emlanlist-overview-links tr:nth-child(even) {
	background-color: hsl(120, 60%, 100%);
}

.emlanlist-overview-links tr:hover {
	background-color: hsl(120, 60%, 90%);
}