html {
	font-size: 62.5%;
}

.emlan-star {
	position: relative;
	top: 4px;
/*	 -webkit-filter: drop-shadow( 0 0 1px #000 ); 
            filter: drop-shadow( 0 0 1px #000 );*/
}

.emlan-star-path {
	fill: hsl(35, 100%, 60%);
	/*stroke: hsl(35, 100%, 30%);*/
}

.emlanlist-container {
	opacity: 1 !important;
	list-style: none;
	padding: 0;
}

.emlan-container {
	background-color: hsl(0, 0%, 96%);
	margin-bottom: 3rem;
	font-size: 1.6rem;
}

.emlanlist-info {
	text-align: center;
	/*margin-left: 2rem !important;
	margin-right: 2rem !important;*/
}

@media screen and (orientation: landscape) {
	.emlanlist-container {
		display: flex;
		flex-wrap: wrap;
	}
	.emlan-container {
		width: 45%;
		margin: 1rem auto;		
	}
}

@media screen and (max-width: 1023px) and (min-width: 436px) {
	.emlanlist-container {
		display: flex;
		flex-wrap: wrap;
	}

	.emlan-container {
		width: 45%;
		margin: 1rem auto;		
	}
}

.emlan-container > div > div {
	margin: 1rem auto;
}

.emlan-row {
	display: flex;
	flex-wrap: wrap;
}

.emlan-row:last-child {
}

.emlan-thumbnail {
	width: 100%;
	text-align: center;
	height: 10rem;
}

.emlan-thumbnail-image {
	width: 20rem;
}

/*.emlan-logo-ls > a {
	display: block;
}*/

.emlan-image {
	display: block;
	width: 20rem;
	margin: auto;
	text-align: center;
}

.emlan-belop,
.emlan-nedbetaling, 
.emlan-alder,
.emlan-effrente {
	margin: auto;
	width: 45%;
	text-align: center;	
}

.emlan-lesmer,
.emlan-fatilbud {
	margin: auto;
}



.emlan-belop:before,
.emlan-nedbetaling:before,
.emlan-alder:before,
.emlan-effrente:before {
	display: block;
	font-weight: bold;
}


/* BELØP */
.emlan-belop:before {
	content: 'Lånebeløp';
}

/* NEDBETALING */
.emlan-nedbetaling:before {
	content: 'Nedbetaling';
}

/* ALDERGRENSE */
.emlan-alder:before {
	content: 'Aldersgrense';
}

/* EFFEKTIV_RENTE */
.emlan-effrente:before {
	content: 'Effektiv Rente';
}

/* LENKE */
.emlan-lenke {
	padding: 1rem 2rem;
	border-radius: 5px;
	font-size: 2.4rem;
	text-decoration: none;
	color: white;
	white-space: nowrap;
}

.emlan-lenke-fatilbud {
	/*position: relative;*/
	/*top: 1rem;*/
	background-image: linear-gradient(rgb(136, 221, 72) 0%, rgb(95, 177, 57) 100%);
	border: solid 1px #60AE40;

	font-family: Arial, sans-serif;
	font-size: 2.2rem;
	font-weight: 700;
}

.emlan-fatilbud-solo:after,
.emlan-fatilbud:after {
	display: block;
	content: 'Annonselenke';
	/*text-align: center;*/
/*}*/

/*.emlan-fatilbud:after {*/
	position: relative;
	top: 1.5rem;
	text-align: center;
}

.emlan-fatilbud-container-solo {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
}
.emlan-fatilbud-solo:after {
	/*margin: auto;*/
	/*display: inline-block;*/
	/*display: block;*/
	/*position: relative;*/
	/*top: 2rem;*/
	/*content: 'Annonselenke';*/
	background-color: #fff;
}

.emlan-svg {
	filter: drop-shadow(1px 1px 1px #333);
}

.emlan-thumb {
	fill: #fff;
}

.emlan-lenke-lesmer {
	/*background-image: linear-gradient(hsl(0, 0%, 70%) 10%, hsl(0, 0%, 60%) 90%);*/
	padding: 0.3rem 1rem;
	/*font-size: 1.6rem;*/
}

.emlan-ekseffrente {
	font-style: italic;
	padding: 0 1rem;
	text-align: center;
}