.meta-inner {
	display: grid;

	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-columns: auto auto auto;

	grid-column-gap: 50px;

	grid-template-areas: 
	"sort sort sort"
	"bestill bestill ."
	"readmore readmore ."
	"ctitle ctitle ."
	"info02 info03 ."
	"image . ."
	"pixel pixel .";
}

.meta-sort {
	grid-area: sort;
}

.bestill-div {
	grid-area: bestill;
}

.readmore-div {
	grid-area: readmore;
}

.ctitle-div {
	grid-area: ctitle;
}

/*.info01-div {
	grid-area: info01;
}*/

.info02-div {
	grid-area: info02;
}

.info03-div {
	grid-area: info03;
}

.image-div {
	grid-area: image;
	margin: 30px 0;
}


.pixel-div {
	grid-area: pixel;
}

.meta-sort {
	display: flex;
}

.meta-title {
	margin-bottom: 0;
}

.meta-input {
	width: 100%;
	background-color: hsl(0, 0%, 95%) !important;
}

.meta-input:focus {
	background-color: hsl(0, 0%, 99%) !important;
}

.meta-sort .meta-input {
	background-color: white !important;
}

.meta-nav {
	margin-bottom: 10px;
}

.meta-sort {
	position: relative;
	padding: 5px;
	padding-top: 15px;

	background-color: #eee;

}

.meta-sort::before {
	content: 'Sortering';
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 20px;
	font-weight: 700;
}

.meta-sort input {
	width: 40px;
}

.meta-sort > .meta-div {
	margin-right: 20px;
}


/* overview window */

#myTable2 {
	border-collapse:separate; 
  	border-spacing: 0 3px;
}

#myTable2 tr:nth-child(even) {
	background-color: #fff;
}

#myTable2 tr:hover {
	background-color: #aae;
	/*border: solid 1px black;*/
	/*margin-bottom: 30px;*/
}

#myTable2 th {
	cursor: pointer;
}

#myTable2 td {
	padding: 3px 10px;
}


/*.bok-overview-links td {
	padding: .5rem 1rem;
}

.bok-overview-links tr:hover {
	background-color: hsl(120, 50%, 97%);
}*/


/* overview links */
.bok-overview-links {
	font-size: 13px;
	margin: 20px;
}
.bok-overview-links td {
	padding: 10px 20px;
}

.bok-overview-links tr:nth-child(even) {
	background-color: hsl(120, 60%, 100%);
}

.bok-overview-links tr:hover {
	background-color: hsl(120, 60%, 90%);
}