
.emlanlistse-ul {
	padding: 0;
	margin: 0;
	clear: both;

	/*display: flex;*/
}

.emlanlistse-list {
	list-style: none;

	display: flex;

	flex-direction: column;

	align-items: center;

	font-size: 1.6rem;

	/*margin-bottom: 2rem;*/

	/*border-bottom: dashed 10px hsl(120, 50%, 92%);*/

}


.emlanlistse-list:nth-child(odd) > .emlanlistse-container {
	background-color: #eee;
}

.emlanlistse-container {
	max-width: 100%;
	width: 40rem;
}

@media only screen and (min-width: 600px) {

	.emlanlistse-ul {
		display: flex;
		flex-wrap: wrap;
	}
	.emlanlistse-list {
		width: 50%;
		margin-bottom: 0;
		padding-top: 1rem;
	}
	.emlanlistse-list:nth-child(odd) .emlanlistse-container {
		background-color: inherit;
	}

	.emlanlistse-list:nth-child(4n) .emlanlistse-container {
		background-color: #eee;
	}

	.emlanlistse-list:nth-child(4n+1) .emlanlistse-container {
		background-color: #eee;
	}

	
} 

.emlanlistse-title-container {
	margin: 0.5rem 0;
	text-align: center;
}

.emlanlistse-title {
	font-size: 2rem;
	text-decoration: none;
	color: #000;
}

.emlanlistse-title-container,
.emlanlistse-terning,
.emlanlistse-bestill-container,
.emlanlistse-logo-container {
	/*align-self: center;*/
}

.emlanlistse-title,
.emlanlistse-info-fem,
.emlanlistse-info-en {
	font-weight: 700;
}


.emlanlistse-logo-container {
	/*display: flex;
	justify-content: center;*/
	/*max-width: 90%;*/
}

.emlanlistse-logo {
	width: 25rem;
	height: auto;

	margin: 0 auto;
	display: block;
}

.emlanlistse-info-container,
.emlanlistse-list-container {
	margin: 2rem 15%;
}

.emlanlistse-info-fem:before,
.emlanlistse-info-seks:before,
.emlanlistse-info-syv:before,
.emlanlistse-info-atte:before {
	content: '\2022	';
	color: gold;
	text-shadow: 0 0 1px black;
	font-size: 2rem;
	margin-right: 0.5rem;

	/*margin-bottom: 1.5rem;*/
}

.emlanlistse-info-container,
.emlanlistse-list-container {
	width: 25rem;
	max-width: 90%;
	/*margin: 1.5rem 0;*/
	/*margin: 0 6rem;*/
}

.emlanlistse-info-container {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.emlanlistse-list-container {
	margin-bottom: 2rem;
}

.emlanlistse-info-fem,
.emlanlistse-info-seks,
.emlanlistse-info-syv,
.emlanlistse-info-atte {
	margin-bottom: 1rem;
}

.emlanlistse-end-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.emlanlistse-terning {
	width: 50px;
	height: 50px;

	margin-bottom: 2rem;

	background-color: #e22;
}

/* dice dimensions */
.emlanlistse-rect-svg {
	height: 50px;
	width: 50px;
}

/* dice eye color */
.emlanlistse-circle-svg {
	fill: #ffffff;
}

.emlanlistse-bestill-container {
	margin: 2rem 0;
}

.emlanlistse-bestill {
	text-align: center;
	/*display: flex;
	justify-content: center;*/
	margin-bottom: 1rem;
	width: 90%;
}

.emlanlistse-ls-container > .emlanlistse-logo {
	padding-bottom: 1rem;
}

.emlanlistse-ls-container .emlanlistse-link {
	width: auto;
}

.emlanlistse-ls-container > .emlanlistse-bestill {
	width: auto;
	/*padding-top: 1rem;*/
}

.emlanlistse-bestilltext {
	/*margin-top: 1rem;
	text-align: center;*/
}

.emlanlistse-link {
	/*display: block;*/
	padding: 1rem 2rem;
	width: 100%;

	/*background-image: linear-gradient(hsl(120, 70%, 60%) 0%, hsl(120, 70%, 50%) 100%);*/
	background-image: linear-gradient(hsl(120,90%,45%) 0%,hsl(120,70%,36%) 100%);;
	border: solid 2px hsl(120, 50%, 70%);
	border-radius: 5px;

	font-size: 2.2rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 2px #000;
	font-family: arial;
	text-decoration: none;

	white-space: nowrap;

	cursor: pointer;
}

.emlanlistse-disabled {

	background: none;
	background-color: hsl(0, 0%, 70%) !important;
	border: solid 1px hsl(0, 0%, 70%);

	cursor: default;
}

.emlanlistse-order-container {
	text-align: center;
	margin: 2rem 0 1rem;
}

/*.emlanlistse-order-link::after {
	content: ' Ansök här!';
}*/

.emlanlistse-bestill-mobile {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
}

.emlanlistse-svg {
	filter: drop-shadow(1px 1px 1px #333);
}

.emlanlistse-thumb {
	fill: #fff;
}

.emlanlistse-ls-container,
.emlanlistse-logo-ls {
	text-align: center;
}

.emlanlistse-bestilltext {
	margin: 1rem 0;
}