.menu-icon-kredittkort .dashicons-before:before {
	color: hsl(120, 50%, 50%) !important;
}

.meta-container {
}

.meta-sort {
	display: flex;
}

.meta-title {
	margin-bottom: 0;
}

.meta-input {
	width: 400px;
	/*max-width: 300px;*/
}

.meta-nav {
	margin-bottom: 10px;
}

.meta-sort {
	position: relative;
	padding: 5px;
	padding-top: 15px;

	background-color: #eee;

}

.meta-sort::before {
	content: 'Sortering';
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 20px;
	font-weight: 700;
}

.meta-sort input {
	width: 40px;
}

.meta-sort > .meta-div {
	margin-right: 20px;
}



/*.emkredittkortse-sort-container {
	display: flex;
	flex-wrap: wrap;
}

.emkredittkortse-meta-container {
	max-width: 1200px;
	padding: 10px 20px;
}

.emkredittkortse-meta-container input {
	width: 100%;
	margin: 0 10px 10px 0;
	font-size: 16px;

	padding: 5px;

	background-color: hsl(0, 0%, 99%);
}

.emkredittkortse-meta-container input:focus {
	border: solid 1px hsl(240, 50%, 80%);
	outline: none;
	box-shadow: none;
	background-color: #fff;
}

.emkredittkortse-sort-container input {
	width: 150px;
}

.emkredittkortse-info-container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;

	grid-column-gap: 20px;

	width: 100%;
}

.emkredittkortse-input-title {
	font-size: 16px;
	font-weight: 700;
}

.emkredittkortse-input-container {
	margin-bottom: 10px;
}


.emkredittkortse-meta-container > .emkredittkortse-input-container:last-child {
	padding-top: 40px;
}
*/

/* overview window */
#myTable2 {
	border-collapse:separate; 
  	border-spacing: 0 3px;
}

#myTable2 tr:nth-child(even) {
	background-color: #fff;
}

#myTable2 tr:hover {
	background-color: #aae;
}

#myTable2 th {
	cursor: pointer;
}

#myTable2 td {
	padding: 3px 10px;
}

/* overview links */
.emkredittkortse-overview-links {
	font-size: 13px;
	margin: 20px;
}
.emkredittkortse-overview-links td {
	padding: 10px 20px;
}

.emkredittkortse-overview-links tr:nth-child(even) {
	background-color: hsl(120, 60%, 100%);
}

.emkredittkortse-overview-links tr:hover {
	background-color: hsl(120, 60%, 90%);
}