/*



*/

.bok-ul {
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;

	justify-content: center;

	/*width: 150rem;*/
}


.bok-list {
	list-style: none;
	margin: 0;
	padding: 0;
	/*background-color: #efe;*/
	display: inline-block;
    width: 48%;
    min-width: 60rem;

    margin-bottom: 2rem;
}

.bok-container {
    padding: 1rem;
	display: grid;
	background-color: #efe;

	grid-template-areas: 
		"logo logo gave"
		"title title gave"
		"info info gave"
		"verdi order gave";

	position: relative;

	grid-template-rows: 5.2rem 3rem 8rem 4rem;
	grid-template-columns: 1fr 1fr 24rem;

	width: 100%;
	border: solid 1px #ccc;

	box-sizing: border-box;

}


.bok-list:nth-child(odd) .bok-container {
	background-color: #eef;
}

.bok-title {
	grid-area: title;
	font-size: 2rem;

	margin: 0;
}

.bok-logo-top {
	grid-area: logo;
	margin-right: 1rem;
	justify-self: flex-start;
}

.bok-logo-top > img {
	height: 5rem;
	width: auto;
}

.bok-image {
	grid-area: gave;

	display: flex;
	align-items: center;
}

.bok-image > .bok-logo {
	max-height: 100%;
	max-width: 100%;
}

/*.bok-gave-image {
	height: 20rem;
	width: 24rem;
}*/

.bok-info {
	grid-area: info;

	padding-right: 1rem;
	overflow: hidden;
}

.bok-verdi {
	grid-area: verdi;

	align-self: flex-end;

	font-size: 2.4rem;
	font-weight: 700;
	color: hsl(20, 100%, 50%);

	white-space: nowrap;
}

.bok-bestill {
	grid-area: order;
	align-self: flex-end;

}

.bok-link {

	background-color: #2a2;
	padding: .5rem 2.5rem;


	font-size: 2rem;
	font-weight: 700;

	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	fill: #fff;

	cursor: pointer;

	text-shadow: 0 0 1px #000;

}

.bok-svg {
	filter: drop-shadow(1px 1px 1px #333);
}

.bok-terning {
	position: absolute;
	top: 1rem;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: #e22;
	border-radius: 3px;
	margin: 0 1rem;
}

.bok-rect-svg {
	height: 50px;
	width: 50px;
}

.bok-circle-svg {
	fill: #ffffff;
}

/* when containers are 2 on a row */
@media only screen and (min-width: 1277px) {
	.bok-list:nth-child(odd) {
		margin-right: 2rem;
	}
}

@media only screen and (max-width: 720px) {
	.bok-list {
		width: 100%;
		/*height: 100%;*/
		min-width: auto;
	}

	.bok-container {
		grid-template-areas: 
			"logo logo"
			"title title"
			"info info"
			"verdi order"
			"gave gave";

		grid-template-rows: 5.2rem 3rem 8rem 6rem auto;
		grid-template-columns: 1fr 1fr;
	}


	.bok-verdi,
	.bok-bestill,
	.bok-image {
		/*justify-self: center;*/
		margin-top: 1rem;
	}

	.bok-bestill {
		justify-self: flex-end;
		align-self: center;
	}

	.bok-verdi {
		align-self: center;
		font-size: 3rem;
	}

	.bok-image > .bok-logo {
		width: 100%;
		max-height: none;
	}

	.bok-link {
		padding: 1rem 2rem;
	}
}
/* 3.0 other browsers */

/* 3.1 old safari and edge */
/*@supports not (display: grid) {*/


/*} */

/* 3.2 internet explorer */
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.bok-container {
		display: -ms-grid;

		-ms-grid-rows: 5.2rem 3rem 8rem 5rem;
		-ms-grid-columns: 1fr 1fr 24rem;

	}

	.bok-title {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;

		overflow: hidden;
	}

	.bok-logo {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.bok-info {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.bok-verdi {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
		-ms-grid-row-align: end;
	}

	.bok-bestill {
		display: block;
		-ms-grid-row: 4;
		-ms-grid-column: 2;

		margin: 0 .5rem;
		white-space: nowrap;

		-ms-grid-row-align: end;
	}

	.bok-image {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
		-ms-grid-row-span: 4;
	}

	.bok-image > .bok-logo {
		width: 100%;
	}

}


/* landing page */
.bok-ls-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bok-ls-li {
	display: flex;
	justify-content: space-between;

	padding: 1rem;

	border: solid 4px #efe;
	border-radius: 10px;
}

.bok-ls-title {
	display: inline;
	margin: 0;
	margin-left: 2rem;
}

.bok-ls-image {
	height: 30rem;
	width: auto;
}


