/*



*/

.bok-ul {
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;

	justify-content: center;
}

.bok-container {
	display: grid;

	grid-template-areas: 
		"logo logo gave"
		"title title gave"
		"info info gave"
		"verdi order gave";

	position: relative;

	grid-template-rows: 5.2rem 3rem 8rem 4rem;
	grid-template-columns: 1fr 1fr 24rem;

    width: 48%;
    min-width: 60rem;

    margin-bottom: 2rem;
    padding: 1rem;
	background-color: #efe;

	border: solid 1px #ccc;

	box-sizing: border-box;

}

/* when containers are 2 on a row */
@media only screen and (min-width: 1277px) {
	.bok-container:nth-child(odd) {
		margin-right: 2rem;
	}
}

@media only screen and (max-width: 630px) {
	.bok-container {
		grid-template-areas: 
			"logo logo"
			"title title"
			"info info"
			"verdi order"
			"gave gave";

		grid-template-rows: 5.2rem 3rem 8rem 4rem auto;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		min-width: auto;
	}

	.bok-verdi,
	.bok-order,
	.bok-gave {
		justify-self: center;
		margin-top: 1rem;
	}
}

.bok-container:nth-child(odd) {
	background-color: #eef;
}

.bok-title {
	grid-area: title;
	font-size: 2rem;

	margin: 0;
}

.bok-logo {
	grid-area: logo;
	margin-right: 1rem;
	justify-self: flex-start;
}

.bok-logo > img {
	height: 5rem;
	width: auto;
	
}

.bok-gave {
	grid-area: gave;
}

.bok-gave-image {
	height: 20rem;
	width: 24rem;
}

.bok-info {
	grid-area: info;

	padding-right: 1rem;
	overflow: hidden;
}

.bok-verdi {
	grid-area: verdi;

	align-self: center;

	font-size: 2.4rem;
	font-weight: 700;
	color: hsl(20, 100%, 50%);

	white-space: nowrap;
}

.bok-order {
	grid-area: order;
	justify-self: flex-start;
	align-self: center;


	background-color: #2a2;
	padding: .5rem 2.5rem;


	font-size: 2rem;
	font-weight: 700;

	color: #fff;
	text-decoration: none;

	border-radius: 5px;
}


.bok-terning {
	position: absolute;
	top: 1rem;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: #e22;
	border-radius: 3px;
	/*border: solid 3px black;*/
	margin: 0 1rem;
}

.bok-rect-svg {
	height: 50px;
	width: 50px;
}

.bok-circle-svg {
	fill: #ffffff;
}


/* 3.0 other browsers */

/* 3.1 old safari and edge */
@supports not (display: grid) {


} 

/* 3.2 internet explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.bok-container {
		display: -ms-grid;

		-ms-grid-rows: 5.2rem 3rem 8rem 4rem;
		-ms-grid-columns: 1fr 1fr 24rem;
	}

	.bok-title {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.bok-logo {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.bok-info {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.bok-verdi {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}

	.bok-order {
		display: block;
		-ms-grid-row: 4;
		-ms-grid-column: 2;

		margin: 0 .5rem;
		white-space: nowrap;
	}

	.bok-gave {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
		-ms-grid-row-span: 4;
	}

}


/* landing page */
.bok-ls-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bok-ls-li {
	display: flex;
	justify-content: space-between;

	padding: 1rem;

	border: solid 4px #efe;
	border-radius: 10px;
}

.bok-ls-title {
	display: inline;
	margin: 0;
	margin-left: 2rem;
}

.bok-ls-image {
	height: 30rem;
	width: auto;
}